body {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  font-family: 'Coda', cursive;
  background-color: rgb(192, 155, 155);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0vw 0vh;
}
/* hides auto submit light blue color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.inputSubmit:focus {
  background-color: yellow;
}

.inputBox {
  background-color: rgb(255, 233, 233);
  border: inset 3px rgba(85, 16, 4, 0.801);
  color: rgba(85, 4, 4, 0.801);
  width: 500px;
}

.inputBox::placeholder {
  color: rgba(85, 4, 4, 0.801);
}

.inputBox:focus {
  border: 3px rgba(156, 27, 27, 0.801);
  box-shadow: none;
}
